  <app-nav></app-nav>

  <!-- Intro Section -->
  <section class="relative overflow-hidden mb-2"> 
    <!-- The video -->
    <video autoplay muted loop class="w-full h-full object-cover absolute z-0">
      <source src="assets/video/pingpong.mp4" type="video/webm">
    </video>

    <div class="bg-gradient absolute w-full h-full z-40 opacity-60"></div>

    <div class="w-full h-full absolute z-40">
      <div class="cube"></div>
      <div class="cube"></div>
      <div class="cube"></div>
      <div class="cube"></div>
      <div class="cube"></div>
    </div>

    <div class="container mx-auto relative z-50">
      <div class="text-center px-20 py-60 w-full md:w-8/12 mx-auto">
        <!-- <h1 class="text-5xl text-indigo-400 font-bold uppercase mb-2">TRANSCENDENCE</h1> -->
        <h1 class="text-7xl font-bold uppercase mb-2">the mighty Pong contest!</h1>

        <p class="mb-2">
          Only available for 42 students. Get started today!
        </p>
        <!-- <button class="bg-sky-800 hover:bg-sky-700 ...">
          LOGIN
        </button> -->
        <!-- <button class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transitionhover:bg-indigo-500">
          LOGIN
        </button> -->
        <button style="color:rgb(255, 255, 255)" 
        class="py-2 px-32 bg-indigo-400 font-semibold rounded-lg shadow-md hover:bg-indigo-500 focus:outline-none "
        (click)="makeRequest()">
          LOGIN WITH INTRA
        </button>
        <!-- <button style="color:rgb(255, 255, 255)" 
        class="py-2 px-32 bg-indigo-400 font-semibold rounded-lg shadow-md hover:bg-indigo-500 focus:outline-none "
        routerLink="/login">
        LOGIN WITH INTRA
        </button> -->
      </div>
    </div>
  </section>
  
  <!-- Main Content -->
  <section class="container mx-auto">
    <h1 class="uppercase text-center text-4xl grid mt-20 mb-12 items-center gap-8 tracking-widest latest">Latest</h1>

    <!-- Clips List -->
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
      <a href="#"
        class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300">
  
        <!-- Image -->
        <img class="card-img-top rounded-tl-2xl w-full" src="assets/img/1.jpg">
  
        <!-- Shape -->
        <div class="relative">
          <div class="absolute pointer-events-none bottom-full w-full bg-secondary text-white">
            <div class="absolute bottom-full w-full pb-5 overflow-hidden">
              <svg viewBox="0 0 100 50" preserveAspectRatio="none" class="absolute bottom-0 w-full h-full tranform"
                style="transform-origin: top center; transform: scale(2);">
                <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
              </svg>
            </div>
          </div>
        </div>
  
        <!-- Body -->
        <div class="p-8">
  
          <!-- Heading -->
          <h2 class="text-3xl mb-2">
            Game Highlighting Clip
          </h2>

          <!-- Name & Date -->
          <p class="mb-0">
            Luis Ramirez &#183; 
            <span class="text-gray-400">March 31, 2020</span>
          </p>
  
        </div>
  
      </a>
      <a href="#"
        class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300">
  
        <!-- Image -->
        <img class="card-img-top rounded-tl-2xl w-full" src="assets/img/2.jpg">
  
        <!-- Shape -->
        <div class="relative">
          <div class="absolute pointer-events-none bottom-full w-full bg-secondary text-white">
            <div class="absolute bottom-full w-full pb-5 overflow-hidden">
              <svg viewBox="0 0 100 50" preserveAspectRatio="none" class="absolute bottom-0 w-full h-full tranform"
                style="transform-origin: top center; transform: scale(2);">
                <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
              </svg>
            </div>
          </div>
        </div>
  
        <!-- Body -->
        <div class="p-8">
  
          <!-- Heading -->
          <h2 class="text-3xl mb-2">
            Game Highlighting Clip
          </h2>

          <!-- Name & Date -->
          <p class="mb-0">
            Luis Ramirez &#183; 
            <span class="text-gray-400">March 31, 2020</span>
          </p>
  
        </div>
  
      </a>
      <a href="#"
        class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300">
  
        <!-- Image -->
        <img class="card-img-top rounded-tl-2xl w-full" src="assets/img/3.jpg">
  
        <!-- Shape -->
        <div class="relative">
          <div class="absolute pointer-events-none bottom-full w-full bg-secondary text-white">
            <div class="absolute bottom-full w-full pb-5 overflow-hidden">
              <svg viewBox="0 0 100 50" preserveAspectRatio="none" class="absolute bottom-0 w-full h-full tranform"
                style="transform-origin: top center; transform: scale(2);">
                <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
              </svg>
            </div>
          </div>
        </div>
  
        <!-- Body -->
        <div class="p-8">
  
          <!-- Heading -->
          <h2 class="text-3xl mb-2">
            Game Highlighting Clip
          </h2>

          <!-- Name & Date -->
          <p class="mb-0">
            Luis Ramirez &#183; 
            <span class="text-gray-400">March 31, 2020</span>
          </p>
  
        </div>
  
      </a>
      <a href="#"
        class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300">
  
        <!-- Image -->
        <img class="card-img-top rounded-tl-2xl w-full" src="assets/img/2.jpg">
  
        <!-- Shape -->
        <div class="relative">
          <div class="absolute pointer-events-none bottom-full w-full bg-secondary text-white">
            <div class="absolute bottom-full w-full pb-5 overflow-hidden">
              <svg viewBox="0 0 100 50" preserveAspectRatio="none" class="absolute bottom-0 w-full h-full tranform"
                style="transform-origin: top center; transform: scale(2);">
                <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
              </svg>
            </div>
          </div>
        </div>
  
        <!-- Body -->
        <div class="p-8">
  
          <!-- Heading -->
          <h2 class="text-3xl mb-2">
            Game Highlighting Clip
          </h2>

          <!-- Name & Date -->
          <p class="mb-0">
            Luis Ramirez &#183; 
            <span class="text-gray-400">March 31, 2020</span>
          </p>
  
        </div>
  
      </a>
      <a href="#"
        class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300">
  
        <!-- Image -->
        <img class="card-img-top rounded-tl-2xl w-full" src="assets/img/3.jpg">
  
        <!-- Shape -->
        <div class="relative">
          <div class="absolute pointer-events-none bottom-full w-full bg-secondary text-white">
            <div class="absolute bottom-full w-full pb-5 overflow-hidden">
              <svg viewBox="0 0 100 50" preserveAspectRatio="none" class="absolute bottom-0 w-full h-full tranform"
                style="transform-origin: top center; transform: scale(2);">
                <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
              </svg>
            </div>
          </div>
        </div>
  
        <!-- Body -->
        <div class="p-8">
  
          <!-- Heading -->
          <h2 class="text-3xl mb-2">
            Game Highlighting Clip
          </h2>

          <!-- Name & Date -->
          <p class="mb-0">
            Luis Ramirez &#183; 
            <span class="text-gray-400">March 31, 2020</span>
          </p>
  
        </div>
  
      </a>
      <a href="#"
        class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300">
  
        <!-- Image -->
        <img class="card-img-top rounded-tl-2xl w-full" src="assets/img/1.jpg">
  
        <!-- Shape -->
        <div class="relative">
          <div class="absolute pointer-events-none bottom-full w-full bg-secondary text-white">
            <div class="absolute bottom-full w-full pb-5 overflow-hidden">
              <svg viewBox="0 0 100 50" preserveAspectRatio="none" class="absolute bottom-0 w-full h-full tranform"
                style="transform-origin: top center; transform: scale(2);">
                <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
              </svg>
            </div>
          </div>
        </div>
  
        <!-- Body -->
        <div class="p-8">
  
          <!-- Heading -->
          <h2 class="text-3xl mb-2">
            Game Highlighting Clip
          </h2>

          <!-- Name & Date -->
          <p class="mb-0">
            Luis Ramirez &#183; 
            <span class="text-gray-400">March 31, 2020</span>
          </p>
  
        </div>
  
      </a>
    </div>
  </section>
  
  <app-auth-modal></app-auth-modal>